<div class="post">
  <h2>{{title}}</h2>
  <p class="author">Author: {{author}}</p>
  <p class="date">Published on: {{format_date createdAt}}</p>
  <p>{{content}}</p>
  <p class="likes">{{likes}} Likes</p>
</div>